.blue{
    color: #26B8F3 !important;
}
.parallax{
    background-attachment: fixed !important;
    background-position: 0px 0px !important;
    background-size: 100% 100% !important;
/*{#            background-repeat: no-repeat !important;#}*/
}
@media only screen
and (max-device-width:640px),
only screen and (max-device-width:667px),
only screen and (max-width:480px) {
    .parallax {
        background-attachment: scroll !important;
    }
}
.logo img{
height:70px;
}
.sticky .logo img{
height:70px;
}
a.list-group-item:hover, a.list-group-item:focus{
background: #26B8F3 ;
}
